body {
    font-size: 18px;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 10em 10em 10em 10em;
    grid-template-rows: 5em 11em 4em;
    font-family: 'Courier New', Courier, monospace;
}
.image{
    grid-column: 4/5;
    
}
header, footer{
    background-color: rgb(0,51,0);
    color: white;
    border-radius: 10px;
}
header {
    font-size: 18px;
    text-align: center;
    grid-column: 1/5;
}
main{
    grid-column:1/4;
    grid-row:2;
    margin-left:10px;
}
main h3{
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 5px;
}
footer{
    font-size: 12px;
    text-align: center;
    grid-column:1/5;
}